<div class="datos text-bg-light text-lg-center mt-3">
  <h1>DATOS </h1>

<table class="table text-bg-secondary">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Secuencia</th>
        <th scope="col">Maestros</th>
        <th scope="col">Correos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Entrega</td>
        <td>Juan Esteban Garcia</td>
        <td>JuanES@Hotmail.com</td>
        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Revision</td>
        <td>Sandra Maria Torre </td>
        <td>Mareianci@gmail.com</td>
      </tr>
      <tr>
        <th scope="row">3</th> 
        <td>Correcion</td> 
        <td>Thomas Aquino</td>
        <td>LarryAquuino4@Outlook.com</td>
       
       
      </tr>
    </tbody>
  </table>
</div>
